<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DocVet</title>

    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/landing-page.css" rel="stylesheet">
    <link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
</head>

<body>

    

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 style="color: #ba2c2c;">DocVet</h1>
                        <h3 style="color: #ba2c2c;">Place to reach in need</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/hc" class="btn btn-default btn-lg"><span class="network-name">Doctors</span></a>
                            </li>
                            <li>
                                <a href="/vets" class="btn btn-default btn-lg"><span class="network-name">Veterinarian</span></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Find the help near you.<br></h2>
                    <p class="lead">Using this app, find the helathcare services in your viscinity.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/assets/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Got any pet?<br>Search extensively for a Vet no more.</h2>
                    <p class="lead">Veterinarians in your locality with contact details.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/assets/dog.png" alt="">
                </div>
            </div>

        </div>
        
    </div>


</body>

</html>
